---
title: Lab 5
author: Summer Churby
format: 
        html: 
            toc: true
            code-fold: true
embed-resources: true
---

# Lab 5: Insurance Costs

## Part One: Data Exploration 
The dataset we will study for this assignment contains information about health insurance costs for individuals with no dependents (children) in the United States. The information contained in the data is:

* Age of primary beneficiary

* Gender of primary beneficiary (only female, male recorded)

* Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

* Whether the beneficiary smokes

* The beneficiary’s residential area in the US, northeast, southeast, southwest, northwest.

* Individual medical costs billed by health insurance

You can find this data at: https://www.dropbox.com/s/bocjjyo1ehr5auz/insurance_costs_1.csv?dl=1

1. Read in the dataset, and display some summaries of the data.

2. Fix any concerns you have about the data.

3. Make up to three plots comparing the response variable (charges) to one of the predictor variables. Briefly discuss each plot.

In [5]:
# read in dataset
import pandas as pd
insurance = pd.read_csv(r"C:\Users\achur\OneDrive\Desktop\School\CP Fall 2024\544\GSB-544-2\insurance_costs_1.csv")
insurance.head()
# display summary statistics
insurance.describe()

              age         bmi       charges
count  431.000000  431.000000    431.000000
mean    37.960557   30.768898  12297.098118
std     16.363909    6.111362  11876.527128
min     18.000000   15.960000   1131.506600
25%     22.000000   26.357500   2710.444575
50%     34.000000   30.590000   9866.304850
75%     55.000000   35.272500  14510.872600
max     64.000000   49.060000  55135.402090

In [6]:
# fix concerns for the data
# create dummy variables
insurance = pd.get_dummies(insurance, columns= ["sex", "smoker"], drop_first = True)
insurance.head()

   age     bmi     region      charges  sex_male  smoker_yes
0   19  27.900  southwest  16884.92400     False        True
1   33  22.705  northwest  21984.47061      True       False
2   32  28.880  northwest   3866.85520      True       False
3   31  25.740  southeast   3756.62160     False       False
4   60  25.840  northwest  28923.13692     False       False

## Part Two: Simple Linear Models
1. Construct a simple linear model to predict the insurance charges from the beneficiary’s age. Discuss the model fit, and interpret the coefficient estimates.

2. Make a model that also incorporates the variable sex. Report your results.

3. Now make a model that does not include sex, but does include smoker. Report your results.

4. Which model (Q2 or Q3) do you think better fits the data? Justify your answer by calculating the MSE for each model, and also by comparing R-squared values.

## Part Three: Multiple Linear Models

Now let’s consider including multiple quantitative predictors.

1. Fit a model that uses age and bmi as predictors. (Do not include an interaction term, age*bmi, between these two.) Report your results. How does the MSE compare to the model in Part Two Q1? How does the R-squared compare?

2. Perhaps the relationships are not linear. Fit a model that uses age and age^2 as predictors. How do the MSE and R-squared compare to the model in P2 Q1?

3. Fit a polynomial model of degree 4. How do the MSE and R-squared compare to the model in P2 Q1?

4. Fit a polynomial model of degree 12. How do the MSE and R-squared compare to the model in P2 Q1?

5. According to the MSE and R-squared, which is the best model? Do you agree that this is indeed the “best” model? Why or why not?

6. Plot the predictions from your model in Q4 as a line plot on top of the scatterplot of your original data.

## Part Four: New Data

Great news! We’ve managed to collect data about the insurance costs for a few more individuals. You can find the new dataset here: https://www.dropbox.com/s/sky86agc4s8c6qe/insurance_costs_2.csv?dl=1

Consider the following possible models:

* Only age as a predictor.

* age and bmi as a predictor.

* age, bmi, and smoker as predictors (no interaction terms)

* age, and bmi, with both quantitative variables having an interaction term with smoker (i.e. the formula ~ (age + bmi):smoker)

* age, bmi, and smokeras predictors, with both quantitative variables having an interaction term with smoker (i.e. the formula ~ (age + bmi)*smoker)

For each model, fit the model on the original data.

Then, use the fitted model to predict on the new data.

Report the MSE for each model’s new predictions. Based on this, which is the best model to use?

Make a plot showing the residuals of your final chosen model.

## Part Five: Full Exploration

Using any variables in this dataset, and any polynomial of those variables, find the model that best predicts on the new data after being fit on the original data.

Make a plot showing the residuals of your final chosen model.