# Lab 2 : Avocado Sales

In [4]:
import pandas as pd
avocados = pd.read_csv(r"C:\Users\achur\OneDrive\Desktop\School\CP Fall 2024\544\GSB-544-2\avocado-updated-2020.csv")
avocados.head()

         date  average_price  ...  year             geography
0  2015-01-04           1.22  ...  2015                Albany
1  2015-01-04           1.79  ...  2015                Albany
2  2015-01-04           1.00  ...  2015               Atlanta
3  2015-01-04           1.76  ...  2015               Atlanta
4  2015-01-04           1.08  ...  2015  Baltimore/Washington

[5 rows x 13 columns]

### 1. Breifly describe the data set. What information does it contain? 
This dataset contains information about Avacados from the HAAS Avacado Board. The dataset features prices of avocados, the total sales volume, the total bags and size of bags, type of avocado and the year and geography for avocados.

### 2. Clean the data in any way you see fit.

In [10]:
# clean data
# rename sizes for avocados
avocados = avocados.rename(columns = {"4046":"small", "4225":"large", "4770":"xlarge"})
# data set with major regions
major_regions = pd.DataFrame({ "region" : ["West", "Great Lakes", "Midsouth", "Northeast", "Southeast", "South Central", "West Tex/New Mexico", "Plains"] })
# data set with minor regions
minor_regions = pd.DataFrame({"region" : ["California", "Northern New England", "New York", "South Carolina", "Total U.S."]})

### 3. Which major geographical region sold the most total organic, small Hass avocados in 2017?

### 4. Split the date variable into month, day, and year variables. In which month is the highest average volume of avocado sales?

### 5. Which metro area geographical regions sold the most total avocados? Plot side-by-side box-plots of the total volume for only the five metro geographical regions with the highest averages for total_volume variable.

### 6. From your cleaned data set, create a data set with only these California regions (San Francisco, Sacramento, Los Angeles, San Diego) and answer the following questions about these California regions only.

### 7. In which California regions is the price or organic versus conventional avocados most different? Support your answer with a few summary statistics AND a visualization.

### 8. The following plot shows, for all four California regions, the proportion of the average Hass avocado sales that are small, large, or extra large; conventional vs. organic. Recreate the plot; you do not have to replicate the exact finishing touches - e.g., color, theme - but your plot should resemble the content of this plot.

### 9. Using outside data

### Appendix and References
https://www.kaggle.com/datasets/timmate/avocado-prices-2020?resource=download&select=avocado-updated-2020.csv