# Lab 3: Singing a song

#### Import Data Set

In [65]:
# Import data set

import numpy as np
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
print(xmas["Gift.Item"].unique)
xmas.head()

<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>
<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>

   Day Day.in.Words  Gift.Item Verb Adjective        Location
0    1        first  partridge  NaN       NaN  in a pear tree
1    2       second       dove  NaN    turtle             NaN
2    3        third        hen  NaN    french             NaN
3    4       fourth       bird  NaN   calling             NaN
4    5        fifth       ring  NaN    golden             NaN

#### Function 1: pluralize_gift()

In [81]:
# pluralize_gift()
def pluralize_gift(gift):
    gift = np.where(gift == "goose", "geese", gift)
    gift = np.where(gift == "lady", "ladies", gift) 
    return np.where(~np.isin(gift, ["geese", "ladies"]), gift + "s", gift)

xmas = pd.DataFrame({"Gift.Item": ["dove", "hen", "bird", "ring", "goose", "swan", "maid", "lady", "lord", "piper", "drummer"]})

In [82]:
pluralize_gift(xmas['Gift.Item'])

array(['doves', 'hens', 'birds', 'rings', 'geese', 'swans', 'maids', 'ladies',
       'lords', 'pipers', 'drummers'], dtype=object)

#### Function 2: make_phrase()