# Lab 3: Singing a song

#### Import Data Set

In [115]:
# Import data set

import numpy as np
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
print(xmas["Gift.Item"].unique)
xmas.head()

<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>
<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>

   Day Day.in.Words  Gift.Item Verb Adjective        Location
0    1        first  partridge  NaN       NaN  in a pear tree
1    2       second       dove  NaN    turtle             NaN
2    3        third        hen  NaN    french             NaN
3    4       fourth       bird  NaN   calling             NaN
4    5        fifth       ring  NaN    golden             NaN

#### Function 1: pluralize_gift()

In [135]:
# pluralize_gift()
def pluralize_gift(gift):
    if isinstance(gift, str):
        if gift == "goose":
            return "geese"
        elif gift == "lady":
            return "ladies"
        else:
            return gift + "s"
    else:
        gift = np.where(gift == "goose", "geese", gift)
        gift = np.where(gift == "lady", "ladies", gift)
        return np.where(~np.isin(gift, ["geese", "ladies"]), gift + "s", gift)

xmas["Plural.Gift.Item"] = pluralize_gift(xmas["Gift.Item"])
xmas.head()

   Day Day.in.Words  Gift.Item  ...        Location Plural.Gift.Item Day.Number
0    1        first  partridge  ...  in a pear tree       partridges        one
1    2       second       dove  ...             NaN            doves        two
2    3        third        hen  ...             NaN             hens      three
3    4       fourth       bird  ...             NaN            birds       four
4    5        fifth       ring  ...             NaN            rings       five

[5 rows x 8 columns]

In [136]:
pluralize_gift(xmas['Gift.Item'])

array(['partridges', 'doves', 'hens', 'birds', 'rings', 'geese', 'swans',
       'maids', 'ladies', 'lords', 'pipers', 'drummers'], dtype=object)

#### Function 2: make_phrase()

In [140]:
# mapping numbers to words

number_to_word = {
    1: "one", 
    2: "two", 
    3: "three",
    4: "four",
    5: "five",
    6: "six",
    7: "seven",
    8: "eight",
    9: "nine",
    10: "ten",
    11: "eleven",
    12: "twelve"
}
xmas["Day.Number"] = xmas["Day"].map(number_to_word)

In [151]:
# make_phrase()

def make_phrase(num, num_word, item, verb, adjective, location):
    verb = pd.Series([verb]).fillna("").iloc[0]
    adjective = pd.Series([adjective]).fillna("").iloc[0]
    location = pd.Series([location]).fillna("").iloc[0]
    if num > 1:
        item = pluralize_gift(item)
    vowels = "aeiou"
    starts_vowel = item[0].lower() in vowels if item else False
    if num == 1:
        article = "an" if starts_vowel else "a"
        phrase = f"{article}{adjective}{item}".strip()
    else: 
        phrase = f"{num_word}{adjective} {item}".replace(" "," ").strip()
    full_phrase = f"{phrase} {verb} {location}".strip()

    return full_phrase

In [152]:
make_phrase(10, "ten", "lord", "a-leaping", "", "")

'ten lords a-leaping'