# Lab 3: Singing a song

#### Import Data Set

In [326]:
# Import data set

import numpy as np
import pandas as pd
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
print(xmas["Gift.Item"].unique)
xmas.head()

<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>
<bound method Series.unique of 0     partridge
1          dove
2           hen
3          bird
4          ring
5         goose
6          swan
7          maid
8          lady
9          lord
10        piper
11      drummer
Name: Gift.Item, dtype: object>

   Day Day.in.Words  Gift.Item Verb Adjective        Location
0    1        first  partridge  NaN       NaN  in a pear tree
1    2       second       dove  NaN    turtle             NaN
2    3        third        hen  NaN    french             NaN
3    4       fourth       bird  NaN   calling             NaN
4    5        fifth       ring  NaN    golden             NaN

#### Function 1: pluralize_gift()

In [327]:
# pluralize_gift()
def pluralize_gift(gift):
    """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """
    if isinstance(gift, str):
        if gift == "goose":
            return "geese"
        elif gift == "lady":
            return "ladies"
        else:
            return gift + "s"
    else:
        gift = np.where(gift == "goose", "geese", gift)
        gift = np.where(gift == "lady", "ladies", gift)
        return np.where(~np.isin(gift, ["geese", "ladies"]), gift + "s", gift)

xmas["Plural.Gift.Item"] = pluralize_gift(xmas["Gift.Item"])
xmas.head()

   Day Day.in.Words  Gift.Item Verb Adjective        Location Plural.Gift.Item
0    1        first  partridge  NaN       NaN  in a pear tree       partridges
1    2       second       dove  NaN    turtle             NaN            doves
2    3        third        hen  NaN    french             NaN             hens
3    4       fourth       bird  NaN   calling             NaN            birds
4    5        fifth       ring  NaN    golden             NaN            rings

In [328]:
pluralize_gift(xmas['Gift.Item'])

array(['partridges', 'doves', 'hens', 'birds', 'rings', 'geese', 'swans',
       'maids', 'ladies', 'lords', 'pipers', 'drummers'], dtype=object)

#### Function 2: make_phrase()

In [329]:
# mapping numbers to words

number_to_word = {
    1: "one",
    2: "two",
    3: "three",
    4: "four",
    5: "five",
    6: "six",
    7: "seven",
    8: "eight",
    9: "nine",
    10: "ten",
    11: "eleven",
    12: "twelve"
}
xmas["Day.Number"] = xmas["Day"].map(number_to_word)

In [351]:
# make_phrase()

def make_phrase(num, num_word, item, verb, adjective, location):
    verb = pd.Series([verb]).fillna("").iloc[0]
    adjective = pd.Series([adjective]).fillna("").iloc[0]
    location = pd.Series([location]).fillna("").iloc[0]
    if num > 1:
        item = pluralize_gift(item)
    vowels = "aeiou"
    is_vowel = item[0] in vowels
    if num == 1:
        if is_vowel == "TRUE":
            num_word = "an"
        else: num_word = "a"

    text = " ".join([num_word, adjective, item, verb, location]).strip()
    return text

In [352]:
print(make_phrase(10, "ten", "lord", "a-leaping", "", ""))

ten  lords a-leaping
ten  lords a-leaping

In [338]:
xmas["Full.Phrase"] = xmas.apply(lambda row: make_phrase(
    row["Day"],
    row["Day.Number"],
    row["Gift.Item"],
    row["Verb"],
    row["Adjective"],
    row["Location"]), axis = 1)
xmas.head()

   Day Day.in.Words  ... Day.Number                   Full.Phrase
0    1        first  ...        one  a  partridge  in a pear tree
1    2       second  ...        two              two turtle doves
2    3        third  ...      three             three french hens
3    4       fourth  ...       four            four calling birds
4    5        fifth  ...       five             five golden rings

[5 rows x 9 columns]

#### Function 3: sing_day()

In [339]:
# function 3: sing_day()

def sing_day(xmas, num, phrase):
    num_word =  xmas.loc[xmas["Day"] == num, "Day.in.Words"].values[0]
    intro = "On the " + num_word + " day of Christmas, my true love gave to me:"
    gifts = ""
    for i in range(num, 0, -1):
        phrase = xmas.loc[xmas["Day"] == i, "Full.Phrase"].values[0]
        if i == 1 and num > 1:
            phrase = "and " + phrase
        gifts = gifts + phrase + ", " + "\n"

    return (intro + "\n" + gifts.strip(", "))[:-3]

In [356]:
#sing_day(xmas, 12, "Full.Phrase")
print(sing_day(xmas, 12, "Full.Phrase"))

On the twelfth day of Christmas, my true love gave to me:
twelve  drummers drumming,
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree
On the twelfth day of Christmas, my true love gave to me:
twelve  drummers drumming,
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree

In [358]:
# put the song all together

def song_line(xmas):
    for day in range (1,13):
        print(sing_day(xmas, day, "Full.Phrase"))
        print("\n")

print(song_line(xmas))

On the first day of Christmas, my true love gave to me:
a  partridge  in a pear tree


On the second day of Christmas, my true love gave to me:
two turtle doves,
and a  partridge  in a pear tree


On the third day of Christmas, my true love gave to me:
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the fourth day of Christmas, my true love gave to me:
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the fifth day of Christmas, my true love gave to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the sixth day of Christmas, my true love gave to me:
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the seventh day of Christmas, my true love gave to me:
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the eighth day of Christmas, my true love gave to me:
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the ninth day of Christmas, my true love gave to me:
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the tenth day of Christmas, my true love gave to me:
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the eleventh day of Christmas, my true love gave to me:
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the twelfth day of Christmas, my true love gave to me:
twelve  drummers drumming,
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


None
On the first day of Christmas, my true love gave to me:
a  partridge  in a pear tree


On the second day of Christmas, my true love gave to me:
two turtle doves,
and a  partridge  in a pear tree


On the third day of Christmas, my true love gave to me:
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the fourth day of Christmas, my true love gave to me:
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the fifth day of Christmas, my true love gave to me:
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the sixth day of Christmas, my true love gave to me:
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the seventh day of Christmas, my true love gave to me:
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the eighth day of Christmas, my true love gave to me:
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the ninth day of Christmas, my true love gave to me:
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the tenth day of Christmas, my true love gave to me:
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the eleventh day of Christmas, my true love gave to me:
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


On the twelfth day of Christmas, my true love gave to me:
twelve  drummers drumming,
eleven  pipers piping,
ten  lords a-leaping,
nine  ladies dancing,
eight  maids a-milking,
seven  swans a-swimming,
six  geese a-laying,
five golden rings,
four calling birds,
three french hens,
two turtle doves,
and a  partridge  in a pear tree


None