0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [26]:
from palmerpenguins import load_penguins
import numpy as np
import pandas as pd

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [27]:
penguins = load_penguins()
penguins.head()

  species     island  bill_length_mm  ...  body_mass_g     sex  year
0  Adelie  Torgersen            39.1  ...       3750.0    male  2007
1  Adelie  Torgersen            39.5  ...       3800.0  female  2007
2  Adelie  Torgersen            40.3  ...       3250.0  female  2007
3  Adelie  Torgersen             NaN  ...          NaN     NaN  2007
4  Adelie  Torgersen            36.7  ...       3450.0  female  2007

[5 rows x 8 columns]

In [59]:
penguins = load_penguins()
def classify_penguins(species, sex, bill_length, bill_depth, flipper_length, body_mass):
    if sex == "male" and (bill_length * bill_depth) > 800: 
        return "Big Mouth Billy"
    elif sex == "female" and flipper_length < body_mass * 0.05:
        return "Dainty Daisy"
    elif species == "Adelie":
        return "Average Adelie"
    else:
        return "Other"

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [60]:
penguins["category_name"] = penguins.apply(lambda row: classify_penguins(row["species"],
                                                                        row["sex"],
                                                                        row["bill_length_mm"],
                                                                        row["bill_depth_mm"],
                                                                        row["flipper_length_mm"],
                                                                        row["body_mass_g"]), axis = 1)
penguins.head()

  species     island  bill_length_mm  ...     sex  year   category_name
0  Adelie  Torgersen            39.1  ...    male  2007  Average Adelie
1  Adelie  Torgersen            39.5  ...  female  2007    Dainty Daisy
2  Adelie  Torgersen            40.3  ...  female  2007  Average Adelie
3  Adelie  Torgersen             NaN  ...     NaN  2007  Average Adelie
4  Adelie  Torgersen            36.7  ...  female  2007  Average Adelie

[5 rows x 9 columns]

3. Run the following code to find the counts for each type.

In [61]:
penguins["category_name"].value_counts().loc["Other"]

84

In [62]:
penguins["category_name"].value_counts().loc["Big Mouth Billy"]

71

In [63]:
penguins["category_name"].value_counts().loc["Dainty Daisy"]

62

In [64]:
penguins["category_name"].value_counts().loc["Average Adelie"]

127