# Palmer Penguins Modeling

Import the Palmer Penguins dataset and print out the first few rows.

Suppose we want to predict `species` using the other variables in the dataset.

**Dummify** all variables that require this.

In [1]:
import pandas as pd
from palmerpenguins import load_penguins
penguins = load_penguins()
penguins_new = pd.get_dummies(penguins, columns= ["species", "island", "sex"], drop_first = True)
penguins_new.head()
# test

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  year  species_Chinstrap  species_Gentoo  island_Dream  island_Torgersen  sex_male
0            39.1           18.7              181.0       3750.0  2007              False           False         False              True      True
1            39.5           17.4              186.0       3800.0  2007              False           False         False              True     False
2            40.3           18.0              195.0       3250.0  2007              False           False         False              True     False
3             NaN            NaN                NaN          NaN  2007              False           False         False              True     False
4            36.7           19.3              193.0       3450.0  2007              False           False         False              True     False

Let's use the other variables to predict `species`. Prepare your data and fit the following models on the entire dataset:

* Two kNN models (for different values of K)
* Two decision tree models (for different complexities of trees)

Compute the following, for each of your models, on test data. Keep in mind that you may need to stratify your creation of the training and test data.

* Confusion matrix
* Overall Accuracy
* Precision, Recall, AUC, and F1-score for each species

Create one ROC plot for the species of your choice.

In [ ]:
# Code Here